.nav_bar {
    background-color: #f8fafc;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .resultNumber {
    font-size: 1.25rem;
    font-weight: 600;
    color: #334155;
    margin-bottom: 1rem;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  .eventContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 2rem;
    width: 100%;
    grid-column: 1 / -1;
  }
